<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Jokes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <h1>Get a Chuck Norris Joke</h1>
    <form method="GET" action="/get-joke">
      <label >
        <input type="submit" value="Go!">
      </label>
    </form>
    <h3><%=joke%></h3>
    
  </body>
</html>
